body {
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

#items {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.item-completed:checked + .item-description {
    background: #dddddd;
    text-decoration: line-through;
}

#add {
    padding: 8px 14px;
    font-weight: bold;
    color: white;
    background: #009578;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

#reset {
    padding: 8px 14px;
    font-weight: bold;
    color: white;
    background: gray;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button.item-remove img {
    width: 12px;
    height: 12px;
}